body {
    font-family:'Courier', monospace;
    justify-content: center;
    align-items: center;
}




.row {
    margin: 0 0 0 0;
}

.row p {
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-6 h2 {

}

.col-md-6 p {
    margin-top: 20px; 
    font-size: 16px
}

.logo {
    display:flex; 
    justify-content: center; 
    align-items: center;
    margin: 30px 0;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    display: flex;
}

.btn.btn-primary {
    margin: 20px;
    background-color: green;
    opacity: 0.6;
}

.btn.btn-primary:hover {
    margin-top: 0px;
}