body {
    font-family:'Courier', monospace;
    justify-content: center;
    align-items: center;
}




.row {
    margin: 0 0 0 0;
}

.row p {
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-6 h2 {

}

.col-md-6 p {
    margin-top: 20px; 
    font-size: 18px;
}

.logo {
    display:flex; 
    justify-content: center; 
    align-items: center;
    margin: 30px 0;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    display: flex;
}

.col-md-12 {
    flex-wrap: wrap;
    display:flex; 
    justify-content: center; 
    align-items: center;
    border-style: hidden;
    padding: 0;
}



 .btn.btn-primary {
    
    background-color: orange;
    color: black;
    border-style: hidden;
    transition: 250ms ease-in-out;
    width: inherit;
    display: block; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 20px;
    
}

 .btn.btn-primary:hover {
    background-color: rgb(251, 102, 2);
    color: black;   
}

.col-md-10 {
    border-style: solid;
}

.col-md-10 h3 {
    font-size: 20px;
}

.col-md-10 p {
    font-size: 14px;
    text-align: left;
}

.btn.btn-danger {
    background-color:green;
    border-color: black;
    text-align: center;
    vertical-align: center;
    font-size: 30px;
    display: table;
    transition: 250ms ease-in-out;
}

.btn.btn-danger h2 {
    display: table-cell;
    vertical-align: middle;
}

.btn.btn-danger:hover {
    background-color: green;
    border-color: black;
    border-style: solid;
    padding-bottom: 30px;
}

.btn.btn-danger:active {
    background-color: rgb(0, 87, 128);
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
}

i {
    margin-left: 5%;
}




