/* @author Konstantin Howard
   @last_modified 04/01/23
   Purpose: CSS stylesheet for homepage of personal website (index.html) */


h1 {
    color: "Red";
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

