/* @author Konstantin Howard
   @last_modified 04/01/23
   Purpose: CSS stylesheet for homepage of personal website (index.html) */


h1 {
    color: "Black";
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }