/* @author Konstantin Howard
   @last_modified 04/01/23
   Purpose: CSS stylesheet for homepage of personal website (index.html) */


h1 {
    color: red;
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

